<!DOCTYPE html>
<html>
<head>
	{{> head_profile }}
	<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
	<style></style>
</head>
<body>
{{> home-nav }}



	<section class="hero is-primary is-bold">
	  <!-- Hero content: will be in the middle -->
	  <div class="hero-body">
	  <div class="container has-text-centered">
	      <div class="columns is-mobile is-centered">
		      <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
		          <div class="bd-notification is-warning">
		            <span class="icon is-small">
					  <i class="fa fa-user"></i>
					</span>
		            
					<p><b>User Name:</b> {{ account.details.user_name }}</p>

					<p><b>Full Name:</b> {{ account.details.full_name }}</p>

					<p><b>Phone Number: </b> {{ account.details.phone_number }}</p>

					<p><b>Email Address: </b> {{ user.email }}</p>

					<p><b>Residential Address:</b> {{ account.details.address }}</p>

					<p><b>State:</b> {{ account.details.state }}</p>

		        </div>
		      </div>
		  </div>
	  </div>

	  <!-- Hero footer: will stick at the bottom -->
	  <div class="hero-foot">	  
	  </div>
	</section>



<script>
	document.addEventListener('DOMContentLoaded', function () {

  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any nav burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        // Get the target from the "data-target" attribute
        var target = $el.dataset.target;
        var $target = document.getElementById(target);

        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
{{> footer-script }}
